
.top-nav {
    display: flex;
    column-gap: .5rem;
    padding: .25rem .5rem;
}

.top-nav-wrap {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #777;
    align-items: center;
}

.money {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    margin-right: .5rem;
    padding: .15rem .3rem;
    border: 1px solid #ddd;

    &::before {
        content: '$';
        font-family: 'Courier New', monospace;
        margin-right: 2px;
    }
}

.nav-link {
    padding: .25rem .75rem;
    color: CanvasText;

    &.active {
        background-color: #747bff;

        &:hover {
            color: CanvasText;
            background-color: cornflowerblue;
        }
    }

    &.inactive {
        background-color: transparent;

        &:hover {
            color: CanvasText;
            background-color: darkslateblue;
        }
    }
}

.side-nav {
    border-right: 1px solid #777;
    padding: .5rem;

    li {
        list-style-type: none;
        margin-left: 0;
        font-style: italic;
        padding: .5rem;
    }
}