body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    box-sizing: border-box;
    font-size: 16px;
}

:global(#root) {
    height: 100%;
    width: 100%;
}

.app-layout {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            'top top'
            'left content';
    height: 100%;
    width: 100%;
    row-gap: 0;
    > * {
        margin: 0;
    }
}

.content-area {
    grid-area: content;
}

.top-area {
    grid-area: top;
}

.left-area {
    grid-area: left;
}
.toastContainer.toastContainer {
    width: 100%;
    padding: 0 1em;

    > div {
        width: 100%;
        span {
            overflow: hidden;
            white-space: preserve-breaks;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            align-items: baseline;

        }
    }

    :global(.Toastify__toast--error) {
        border: 1px solid var(--toastify-color-error);
    }
}