.table {
    margin: 1rem;
    border-collapse: collapse;
    width: auto;
    display: inline-table;

    tbody:before {
        content: '@';
        display: block;
        line-height: .5rem;
        text-indent: -99999px;
    }
}

.cell {
    text-align: left;
    text-overflow: ellipsis;
    height: 1em;
    padding: 0 .5rem;
    white-space: nowrap;
    overflow: hidden;
}

.headerCell {
    composes: cell;

    font-weight: bold;
    /*Bottom border on heading row*/
    border-bottom: 1px solid #ddd;
}

.row {
    height: auto;
    white-space: nowrap;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
}